@import url('https://fonts.googleapis.com/css?family=Prompt&display=swap');

*,.font{    
    font-family: 'Prompt', sans-serif;
}
.new-background-color{
    --background: lightSalmon;
    color: rgb(58, 150, 167);
}