<!-- 60160203 นายอธิคม วงศ์วาร -->
<ion-header>
  <ion-toolbar color="primary">  
    <ion-title>MCash</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="content">
  <ion-card class="ion-text-center">
    <div style="background-color: rgb(245, 150, 42);color: white;"><h5>บันทีกรายรับ - รายจ่าย</h5></div><br>
    <div *ngFor="let transactionList of transactionList">
      <ion-item>
        <ion-col size="12" (click)="ActionSheet(transactionList)">{{transactionList.tst_date | date: 'dd/MM/yyyy'}}</ion-col>
      </ion-item>
    </div>
  </ion-card>
</ion-content>
<ion-fab vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button (click)="insertTransaction()">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>