<!-- 60160203 นายอธิคม วงศ์วาร -->
<ion-header>
  <ion-toolbar class="new-background-color">
    <ion-title class="font ion-text-center" style="font-size: 20px;">บันทึกรายรับ - รายจ่าย</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="content">
  <ion-card class="ion-text-center">
   
    <ion-item>
      <ion-label class="font ion-text-center">ว/ด/ป</ion-label>
      <ion-label class="font ion-text-center">ยอดเงินที่บันทึก</ion-label>
    </ion-item>
    <div *ngFor="let transactionList of transactionList">
      <div *ngIf="transactionList.tst_type == 'รายจ่าย'">
      <ion-item (click)="ActionSheet(transactionList)">
        <ion-label class="font ion-text-center">{{transactionList.tst_date | date: "dd/MM/yyyy"}}</ion-label>
        <ion-label class="font ion-text-center" color="danger">- {{transactionList.tst_amount | currency: " "}}</ion-label>
      </ion-item>
      </div>
      <div *ngIf="transactionList.tst_type == 'รายรับ'">
        <ion-item (click)="ActionSheet(transactionList)">
          <ion-label class="font ion-text-center">{{transactionList.tst_date | date: "dd/MM/yyyy"}}</ion-label>
          <ion-label class="font ion-text-center" color="primary">+ {{transactionList.tst_amount | currency: " "}}</ion-label>
        </ion-item>
        </div>
    </div><br><br><br>
  </ion-card>
</ion-content>
<ion-fab vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button (click)="insertTransaction()">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>