<ion-header>
  <ion-toolbar color="primary">
    <div style="font-size: 20px;text-align: center;">เพิ่มรายรับ - รายจ่าย</div>
    <ion-buttons slot="end">
      <ion-button (click)="close()">
          <ion-icon name="close-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="card-nomal">
      <ion-card-header>
         
          <ion-card-title>รายรับ - รายจ่าย</ion-card-title>
        </ion-card-header>
    <ion-card-content>
          <ion-item>
            <ion-label class="font">ยอดเงินคงเหลือ:</ion-label>
          <ion-text color="primary">{{balance}}</ion-text>
          </ion-item>
            <ion-item class="font">
              <ion-label class="font">ประเภท :</ion-label>
            <ion-select placeholder="เลือกประเภท" [(ngModel)]="type">
                <ion-select-option class="font" value="รายจ่าย">รายจ่าย</ion-select-option>
                <ion-select-option class="font" value="รายรับ">รายรับ</ion-select-option>
              </ion-select>
            </ion-item>
            <ion-item>
              <ion-label class="font">หมวดหมู่ </ion-label>
              <ion-select placeholder="เลือกหมวดหมู่" [(ngModel)]="category">
                <div *ngFor="let category of categoryList">
                  <div *ngIf="category.cate_acc_id == accountID">
                    <ion-select-option class="font" [value]="category.cate_id">{{category.cate_name}}</ion-select-option>
                </div>  
              </div>
              </ion-select>
            </ion-item>
          <ion-item>
            <ion-label class="font">จำนวนเงิน :</ion-label>
            <ion-input class="font ion-text-right" type="number" placeholder="0.00" [(ngModel)]="amount"></ion-input>
          </ion-item>
        <ion-item>
        <ion-label class="font">วันที่ :</ion-label>
        <ion-datetime pickerFormat="DD/MM/YYYY" displayFormat="DD/MM/YYYY" placeholder="ว/ด/ป" [(ngModel)]="date"></ion-datetime>
      </ion-item>
      <ion-item>
      <ion-label class="font" position="floating">รายละเอียด :</ion-label>
        <ion-textarea class="font" [(ngModel)]="note"></ion-textarea>
      </ion-item>
          <div>
              <ion-button  expand='outline' style="float: right;" (click)="conFirm()">เพิ่มข้อมูล</ion-button>
          </div>
        </ion-card-content>
  </ion-card>
</ion-content>



