<ion-header>
  <ion-toolbar>
    <ion-title>บันทึกรายรับ - รายจ่าย</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close()">
          <ion-icon name="close-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="card-nomal">
      <ion-card-header>
          <ion-card-subtitle>เพิ่มรายรับ - รายจ่าย</ion-card-subtitle>
          <ion-card-title>รายรับ - รายจ่าย</ion-card-title>
        </ion-card-header>
    <ion-card-content>
          <ion-item>
            <ion-label>ยอดเงินคงเหลือ:</ion-label>
          <ion-text color="primary">{{transaction.tst_balance}}</ion-text>
          </ion-item>
            <ion-item>
              <ion-label>ประเภท:</ion-label>
            <ion-select [(ngModel)]="transaction.tst_type" >
                <ion-select-option value="รายจ่าย">รายจ่าย</ion-select-option>
                <ion-select-option value="รายรับ">รายรับ</ion-select-option>
              </ion-select>
            </ion-item>
            <ion-item>
              <ion-label>หมวดหมู่:</ion-label>
              <ion-select  [(ngModel)]="transaction.tst_cate_id">
                <ion-select-option *ngFor="let category of categoryList" [value]="category.cate_id">{{category.cate_name}}</ion-select-option>
              </ion-select>
            </ion-item>
          <ion-item>
            <ion-label>จำนวนเงิน:</ion-label>
            <ion-input class="ion-text-right" type="text" [(ngModel)]="this.transaction.tst_amount"></ion-input>
          </ion-item>
      <ion-item>
      <ion-label>รายละเอียด:</ion-label>
        <ion-textarea [(ngModel)]="transaction.tst_note" class="ion-text-right"></ion-textarea>
      </ion-item>
          <div>
              <ion-button  expand='outline' style="float: right;" (click)="conFirm()">แก้ไขข้อมูล</ion-button>
          </div>
        </ion-card-content>
  </ion-card>
</ion-content>



