<ion-header>
  <ion-toolbar>
    <ion-title>บันทึกรายรับ - รายจ่าย</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close()">
          <ion-icon name="close-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="card-nomal"  style="background-color: #e65c00;">
      <ion-card-header>
          <ion-card-subtitle style="color: white;"><h2>รายละเอีดรายรับ - รายจ่าย</h2></ion-card-subtitle>
        </ion-card-header>
    <ion-card-content style="background-color: #4d0099;">
          <ion-item>
            <ion-label>ยอดเงินคงเหลือ:</ion-label>
          <ion-text color="primary">{{transaction.tst_balance}}</ion-text>
          </ion-item>
            <ion-item>
              <ion-label>ประเภท:</ion-label>
              <ion-text color="primary">{{transaction.tst_type}}</ion-text>
            </ion-item>
            <ion-item>
              <ion-label>หมวดหมู่:</ion-label>
              <ion-text color="primary">{{transaction.cate_name}}</ion-text>
            </ion-item>
          <ion-item>
            <ion-label>จำนวนเงิน:</ion-label>
            <ion-text color="primary">{{transaction.tst_amount}}</ion-text>
          </ion-item>
      <ion-item>
      <ion-label>รายละเอียด:</ion-label>
      <ion-text color="primary">{{transaction.tst_note}}</ion-text>
      </ion-item><br>
    </ion-card-content>
  </ion-card>
</ion-content>



