<ion-header>
  <ion-toolbar class="new-background-color">
    <ion-title>รายละเอีดรายรับ - รายจ่าย</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close()">
          <ion-icon name="close-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="card-nomal">
      <ion-card-header>
          <ion-card-subtitle class="font ion-text-center"><h4>รายละเอียดรายรับ - รายจ่าย</h4></ion-card-subtitle>
        </ion-card-header>
    <ion-card-content>
          <ion-item>
            <ion-label class="font">ยอดเงินคงเหลือ :</ion-label>
          <ion-text color="primary">{{transaction.tst_balance | currency: " " }}</ion-text>
          </ion-item>
            <ion-item>
              <ion-label class="font">ประเภท :</ion-label>
              <ion-text color="primary">{{transaction.tst_type}}</ion-text>
            </ion-item>
            <ion-item>
              <ion-label class="font">หมวดหมู่ :</ion-label>
              <ion-text color="primary">{{transaction.cate_name}}</ion-text>
            </ion-item>
          <ion-item>
            <ion-label class="font">จำนวนเงิน :</ion-label>
            <ion-text color="primary">{{transaction.tst_amount | currency: " " }}</ion-text>
          </ion-item>
      <ion-item>
      <ion-label class="font">รายละเอียด :</ion-label>
      <ion-text color="primary">{{transaction.tst_note}}</ion-text>
      </ion-item><br>
    </ion-card-content>
  </ion-card>
</ion-content>



