@import url('https://fonts.googleapis.com/css?family=Prompt&display=swap');

.font{    
    font-family: 'Prompt', sans-serif;
    font-size: 13px;
}

.new-background-color{
    --background: lightSalmon;
    color: rgb(58, 150, 167);
}