<ion-header>
  <ion-toolbar color="primary">
    <ion-title>MCash</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-text-center">
  <ion-card >
    <div style="background-color: rgb(253, 246, 148);color: rgb(58, 150, 167); box-shadow:-1px 0px 10px rgba(110, 14, 82, 0.5);">
      <h5 class="ion-text-center" style="padding-top: 10px; padding-bottom: 10px;"><b>สรุปรายรับ-รายจ่าย</b></h5>
    </div>
    <ion-row class="ion-text-right">
      <ion-col>
        <ion-text class="ion-text-left"><b>วันนี้</b></ion-text>&nbsp;
        <ion-text color="primary">{{dateCurrent}}</ion-text>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-item class="ion-align-items-center">
        <ion-card style="margin-left:28px; border-radius: 50%; width: 190px; height: 190px; float: left;box-shadow:-1px 0px 10px rgba(110, 14, 82, 0.5);">
          <ion-card-content>
            <ion-row class="ion-text-center " style="padding-top: 10px;" >
              <ion-col size="12">
                <br><br>
                <ion-text><b>ยอดเงินคงเหลือ</b></ion-text><br>
                <ion-text color="primary" style="font-size:20px; color: #4bb477;">{{balance | currency: " " }} ฿</ion-text>
              </ion-col>
            </ion-row>        
          </ion-card-content>
        </ion-card>
      </ion-item>
    </ion-row>
    
    
    <ion-row>
      <ion-col size="12">
        <ion-text><h4>คำนวนรายรับ-รายจ่าย</h4></ion-text>
      </ion-col>
    </ion-row>
    
    <ion-row class="ion-text-center">
      <ion-col size="6">
        <ion-text><b>วันเริ่มต้น</b></ion-text><br>
        <ion-datetime [(ngModel)]="startDate" pickerFormat="DD/MM/YYYY" displayFormat="DD/MM/YYYY">
          placeholder="{{startDate}}"></ion-datetime>
      </ion-col>
      <ion-col size="6">
        <ion-text><b>วันสิ้นสุด</b></ion-text><br>
        <ion-datetime [(ngModel)]="endDate" pickerFormat="DD/MM/YYYY" displayFormat="DD/MM/YYYY">
          placeholder="{{endDate}}"></ion-datetime>
      </ion-col>
    </ion-row>
    <ion-button (click)="calculate()" expand="block" fill="outline">
      คำนวนค่าใช้จ่าย
    </ion-button>
    <ion-text><b>ค่าใช้จ่ายทั้งหมด</b></ion-text><br>
    <ion-text color="primary" class="ion-text-center">{{this.sumCost}}</ion-text><br><br>
    <ion-row>
      <ion-col size="6">
        <ion-text><b>รายจ่าย</b></ion-text><br>
        <div *ngFor="let totalCost of totalCost">
          <div *ngIf = "totalCost.tst_type == 'รายจ่าย';">
            <ion-text color="primary">ค่า{{totalCost.cate_name}} : {{totalCost.sum_tst}} {{suma(totalCost.sum_tst)}}</ion-text><br>
          </div>
        </div>
      </ion-col>
      <ion-col size="6">
        <ion-text><b>รายรับ</b></ion-text><br>
        <div *ngFor="let item of totalCost">
          <div *ngIf = "item.tst_type == 'รายรับ';">
            <ion-text color="primary">ค่า{{item.cate_name}} : {{item.sum_tst}}</ion-text><br>
          </div>
        </div>
      </ion-col>
    </ion-row>
    <br><br>
  </ion-card>
</ion-content>