
<ion-toolbar color="primary">
  <div style="font-size: 20px;text-align: center;">สรุปรายรับ - รายจ่าย</div>
</ion-toolbar>
<ion-content class="ion-text-center font">
  <ion-button size="small" style="float: right;" fill="outline" (click)="logOut()"  >ออกจากระบบ</ion-button><br><br>
  <ion-row class="ion-text-center">
    <ion-col>
      <ion-text class="ion-text-left"><b>วันนี้</b></ion-text>&nbsp;
      <ion-text color="primary">{{dateCurrent}}</ion-text>&nbsp;
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-item class="ion-align-items-center">
      <ion-card
        style="margin-left:45px; border-radius: 50%; width: 190px; height: 190px;box-shadow:-1px 0px 10px rgba(110, 14, 82, 0.5);">
        <ion-card-content>
          <ion-row class="ion-text-center " style="padding-top: 10px;">
            <ion-col size="12">
              <br><br>
              <ion-text><b>ยอดเงินคงเหลือ</b></ion-text><br>
              <ion-text color="primary" style="font-size:20px; color: #4bb477;">{{balance | currency: " " }} ฿
              </ion-text>
            </ion-col>
          </ion-row>
        </ion-card-content>
      </ion-card>
    </ion-item>
  </ion-row>


  <ion-row>
    <ion-col size="12">
      <ion-text>
        <h4 >คำนวนรายรับ - รายจ่าย</h4>
      </ion-text>
    </ion-col>
  </ion-row>

  <ion-row class="ion-text-center">
    <ion-col size="6">
      <ion-text><b>วันเริ่มต้น</b></ion-text><br>
      <ion-datetime [(ngModel)]="startDate" pickerFormat="DD/MM/YYYY" displayFormat="DD/MM/YYYY">
        placeholder="{{startDate}}"></ion-datetime>
    </ion-col>
    <ion-col size="6">
      <ion-text><b>วันสิ้นสุด</b></ion-text><br>
      <ion-datetime [(ngModel)]="endDate" pickerFormat="DD/MM/YYYY" displayFormat="DD/MM/YYYY">
        placeholder="{{endDate}}"></ion-datetime>
    </ion-col>
  </ion-row>
  <ion-button class="font" (click)="calculate()" expand="block" fill="outline">
    คำนวนค่าใช้จ่าย
  </ion-button>

  <ion-row>
    <ion-col size="6">
      <ion-text><b>รายรับทั้งหมด</b></ion-text><br>
      <ion-text color="primary">{{this.sumCostIncome}} บาท</ion-text><br>
      <ion-text><b>รายรับ</b></ion-text><br>
      <div *ngFor="let item of totalCost">
        <div *ngIf="item.tst_type == 'รายรับ';">
          <ion-text color="primary">ค่า{{item.cate_name}} : {{item.sum_tst}} บาท{{sum_income(item.sum_tst)}}
          </ion-text><br>
        </div>
      </div>
    </ion-col>
    <ion-col size="6">
      <ion-text><b>รายจ่ายทั้งหมด</b></ion-text><br>
      <ion-text color="primary">{{this.sumCostExpense}} บาท</ion-text><br>
      <ion-text><b>รายจ่าย</b></ion-text><br>
      <div *ngFor="let totalCost of totalCost">
        <div *ngIf="totalCost.tst_type == 'รายจ่าย';">
          <ion-text color="primary">ค่า{{totalCost.cate_name}} : {{totalCost.sum_tst}} บาท{{sum_expense(totalCost.sum_tst)}}
          </ion-text><br>
        </div>
      </div>
    </ion-col>
  </ion-row>
  <br><br>
  <br><br><br><br>
</ion-content>