<ion-header>
  <ion-toolbar class="new-background-color">
    <ion-title class="font ion-text-center" style="font-size: 20px;">หมวดหมู่</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="content">
  <ion-card>
    <div class="font ion-text-center" style="background-color: rgb(253, 246, 148);color: blue;"><h5>หมวดหมู่</h5></div><br>
    <ion-searchbar class="font" placeholder = "ค้นหาหมวดหมู่"></ion-searchbar>
    <ion-item *ngFor="let category of categoryList">
      <ion-label class="font" (click)="ActionSheet(category)">{{category.cate_name}}</ion-label>
    </ion-item><br><br><br>
  </ion-card>
</ion-content>
<ion-fab vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button (click)="insertCategory()">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>