<ion-header>
  <ion-toolbar>
    <ion-title>Category</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close()">
          <ion-icon name="close-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="content">
      <ion-card class="card-nomal">
        <ion-card-header>
          <ion-card-subtitle>แก้ไขหมวดหมู่</ion-card-subtitle>
          <ion-card-title>หมวดหมู่</ion-card-title>
        </ion-card-header>
             <ion-item>
               <ion-label>ชื่อหมวดหมู่:</ion-label>
               <ion-input type="text" placeholder="ใส่ชื่อหมวดหมู่" [(ngModel)]="category.cate_name"></ion-input>
             </ion-item><br>
             <ion-button  expand='outline' style="float: right;" (click)="conFirm()">แก้ไขหมวดหมู่</ion-button><br>  
      </ion-card>
</ion-content>